# Short intro to pandas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
help(pd.Series.add)

## Series (1D, with values and indexes)

In [3]:
t = pd.Series([1,5,np.nan,"culo"], index=['a',"perro",32,5.1])
#t

In [4]:
dates = pd.date_range('20130101', periods=3)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03'], dtype='datetime64[ns]', freq='D')

## DataFrames (with values, indexes, and columns)

In [5]:
df = pd.DataFrame(np.random.randn(3,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.025750 -0.239868 -0.654494 -0.007096
2013-01-02  1.681707 -0.144590  0.276675  0.024928
2013-01-03 -0.086055 -0.961111  0.273133 -0.808519

In [5]:
# Desde diccionario (las columnas son las llaves, los índices los de la serie)
df2 = pd.DataFrame({'A':1.,
                    'B':pd.Timestamp('20130102'),
                    'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D':np.array([3]*4,dtype='int32'),
                    'E':pd.Categorical(["test","train"]*2)})
df2

     A          B    C  D      E
0  1.0 2013-01-02  1.0  3   test
1  1.0 2013-01-02  1.0  3  train
2  1.0 2013-01-02  1.0  3   test
3  1.0 2013-01-02  1.0  3  train

### Dataframe info

In [6]:
df2.dtypes # data type of each column

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
dtype: object

In [7]:
df2.head()

     A          B    C  D      E
0  1.0 2013-01-02  1.0  3   test
1  1.0 2013-01-02  1.0  3  train
2  1.0 2013-01-02  1.0  3   test
3  1.0 2013-01-02  1.0  3  train

In [9]:
df2.tail(2)

     A          B    C  D      E
2  1.0 2013-01-02  1.0  3   test
3  1.0 2013-01-02  1.0  3  train

In [8]:
df2.index # indexes of the df

Int64Index([0, 1, 2, 3], dtype='int64')

In [10]:
df2.columns # same for columns

Index([u'A', u'B', u'C', u'D', u'E'], dtype='object')

In [11]:
df2.values # all values (?)

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train']],
      dtype=object)

In [12]:
df2.describe() # statistical analysis of numeric columns

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [13]:
len(df2) # number of entries (rows)

4

In [14]:
df2.T

,0,1,2,3
A,1,1,1,1
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train

Ordena por columnas (pero no guarda el nuevo orden)

In [39]:
df.sort_index(axis=0, acending=False)   # By index
#df.sort_index(axis=1, ascending=False) # By column
#help(pd.DataFrame.sort_index)

                   D         C         B         A
2013-01-01  1.204146  1.171443 -0.452902 -1.220554
2013-01-02 -0.989016 -0.592699 -0.400271 -1.838939
2013-01-03  0.001330 -1.255355 -0.123380 -0.869975

In [41]:
df2.sort_values(by='E')

     A          B    C  D      E
0  1.0 2013-01-02  1.0  3   test
2  1.0 2013-01-02  1.0  3   test
1  1.0 2013-01-02  1.0  3  train
3  1.0 2013-01-02  1.0  3  train

------------
### Slicing
Columns

In [70]:
# df2['A'] # devuelve una serie (columna)
# df2.A # =
# df.loc[:,['A']] # devuleve dataframe (columna)
# df.loc[:,'A'] # devulevel Series (columna) 
# df.iloc[:,0:1] # devuelve dataframe (col)

In [20]:
# df.loc[:,['A','B']] #varias columnas
# df.iloc[:, 0:2] # =

Rows

In [47]:
df[0:1] #devuelve un dataframe (0 incluido, 1 no)
df.iloc[0:1] # =
df.loc[dates[0]] # igual pero devuelve serie, POR LABEL
df.iloc[0] # = pero POR POSICIÓN
df.ix[0] # = LABEL O POSICIÓN
df.ix[dates[0]] # =

A   -1.220554
B   -0.452902
C    1.171443
D    1.204146
Name: 2013-01-01 00:00:00, dtype: float64

In [53]:
df['20130102':'20130103']
df[1:3] # 1 incluido, 3 no
df[1:] # del 1 en adelante
df.iloc[1:3] # Más eficiente

                   A         B         C         D
2013-01-02 -1.838939 -0.400271 -0.592699 -0.989016
2013-01-03 -0.869975 -0.123380 -1.255355  0.001330

Double slicing

In [72]:
#df2.loc[0:1,'A'] # Returns Series POR LABEL
#df2.loc[0:1,['A']] # Returns DF POR LABEL
#df2.loc[0,['A', 'C']] # Returns Series POR LABEL
#df2.iloc[[0],[0,2]] # Returns DF, POR POSICIÓN
#df2.iloc[0:1,0:1] # Returns DF, POR POSICIÓN
#df2.iloc[[0],[0]] # =
#df2.loc[0,'A'] # Returns scalar POR LABEL
#df2.at[0,'A'] # =
#df2.iloc[0,0] # = POR POSICIÓN
#df2.iat[0,0] # =

-------------
### Filtering data

In [24]:
#df[df.A > 0.5] # Only takes rows that satisfy
#df[~(df.A < 0.5)] # =
#df[(df.A > 0.5) | (df.A)< -0.5] # OR

In [25]:
#df[df > 0.5] # Turn to Nan non-satisfiers and erase rows that not satisfy

In [26]:
df4 = df.copy() # plain assignation is just a pointer
df4[df4 > 0] = -df4 # filter and apply inversion
#df4

In [27]:
df3 = df.copy()
df3['E']=['one','three','two'] # add new column
df3[2:3]=np.random.randn(1,5) # change row
#df3[df3['E'].isin(['one','two'])]

In [28]:
df3.loc[:,'B'] = np.array([5] * len(df3)) # change a column
#df3

In [29]:
s1 = pd.Series([1,3,"perro",'A'], index=pd.date_range('20130103', periods=4))
df3['F'] = s1 # INDEXES GET ALIGNED
#df3

In [30]:
#df[1:]

**Missing data** (excluded from operations)

In [40]:
df1 = df.reindex(index=dates[0:3], columns=list(df.columns)+ ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
#df1.dropna(how='any') #Drops rows with missing data (returns new df)
#df1.fillna(value=5) #Fills missing data (returns new df)
#pd.isnull(df1) #boolean mask with nans

**Operations**

In [39]:
#df.mean() #by columns
#df.mean(1) # by rows
#df.var()

In [7]:
s = pd.Series([5,np.nan,8], index=dates).shift(1)
df.sub(s, axis='index') #substracts (returns new df, NaN if there was NaN)

2013-01-01    NaN
2013-01-02    5.0
2013-01-03    NaN
Freq: D, dtype: float64

In [37]:
#df1.apply(np.cumsum)
#df.apply(lambda x: x.max() - x.min()) # lo aplica por columnas

*Histogramming*

In [58]:
s = pd.Series(np.random.randint(0, 7, size=10))
#s.value_counts()

*Strings*

In [57]:
s = pd.Series(['A','Aaba',np.nan])
#s.str.lower()

**Merge**

In [50]:
df = pd.DataFrame(np.random.randn(10,4))
pieces = [df[:3],df[3:7],df[7:]]
#pd.concat(pieces)

In [63]:
left = pd.DataFrame({'key':['foo','foo'],'lval':[1,2]})
right = pd.DataFrame({'key':['foo','foo'],'rval':[4,5]})
#pd.merge(left,right,on='key')

In [ ]:
left = pd.DataFrame({'key':['foo','bar'],'lval':[1,2]})
right = pd.DataFrame({'key':['foo','bar'],'rval':[4,5]})
#pd.merge(left,right,on='key')

*Append* appends a row at the end of the dataframe

In [47]:
df = pd.DataFrame(np.random.randn(8,4),columns=['A','B','C','D'])
s = df.iloc[3]
#df.append(s,ignore_index=True)

**Grouping**

In [77]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                  'B' : ['one', 'one', 'two', 'three',
                         'two', 'two', 'one', 'three'],
                  'C' : np.random.randn(8),
                  'D' : np.random.randn(8)})
#df.groupby('A').sum()

In [79]:
#df.groupby(['A','B']).sum() # hierarchizied index

**Reshaping**

In [87]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                    'foo', 'foo', 'qux', 'qux'],
                   ['one', 'two', 'one', 'two',
                    'one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples,names=['first','second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
#df

In [89]:
df2 = df[:4]
#df2.stack() # Brings columns as rows

In [94]:
#df2.unstack() # Brings rows as columns (last)
#df2.unstack(1) # Brings rows as columns (leftmost + 1)
#df2.unstack(0) # Brings rows as columns (leftmost)

In [112]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
#pd.pivot_table(df, values ='D', index =['A','B'],columns=['C'])

**Time Series**

In [111]:
rng = pd.date_range('1/1/2012',periods=100,freq='S') # For 100 seconds
ts = pd.Series(np.random.randint(0,500,len(rng)),index=rng)
#ts.resample('5Min').sum()

In [107]:
rng = pd.date_range('3/6/2012 00:00',periods=5,freq='D') # With times
ts = pd.Series(np.random.randn(len(rng)),rng)
ts_utc = ts.tz_localize('UTC') # Identify time zone location
#ts_utc.tz_convert('US/Eastern') # Change time zone

In [110]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ps = ts.to_period()
#ps.to_timestamp()

In [119]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV') # quarters ending in november
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq('M', 'e') +1).asfreq('H', 's') + 9 # year ends in nov (+1) at 9am

**Categoricals**

In [127]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})
df["grade"] = df["raw_grade"].astype("category")
df["grade"].cat.categories = ["very good", "good", "very bad"]
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
#df.sort_values(by="grade")

In [130]:
#df.groupby("grade").size()

--------------
**Plotting**

In [134]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()
ts.plot()

In [136]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                  columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')

------------
**Files**

In [13]:
df.to_csv('foo.csv')
#pd.read_csv('foo.csv')

In [141]:
df.to_hdf('foo.h5','df')
#pd.read_hdf('foo.h5','df')

In [143]:
df.to_excel('foo.xlsx',sheet_name='Sheet1')
#pd.read_excel('foo.xlsx','Sheet1',index_col=None,na_values=['NA'])